# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Database
db.sqlite3

# Media
media/

# Static collected
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db