body {
    background: linear-gradient(135deg,
            #050b18,
            #0a1931,
            #091524);
    color: white;
}

.sidebar {
    background: rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
}

.hero-subtitle {
    color: #2d7dff;
    font-size: 2rem;
}

.card-custom {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

/* HERO SECTION BACKGROUND */

.col-lg-9 {
    background-color: #020817;
    background-image: url("/static/images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 530px;
}

/* HERO IMAGE */

.hero-bg {
    height: 320px;

    background: url("/static/images/hero-bg.png") center center no-repeat;
    background-size: cover;

    border-radius: 20px;

    margin-bottom: 30px;
}


.education-item {
    border-left: 2px solid #0d6efd;
    padding-left: 15px;
    margin-left: 8px;
}

.education-item h5 {
    font-size: 1.1rem;
}

.education-item div {
    line-height: 1.4;
}


.stat-icon {
    font-size: 2.2rem;
    color: #0d6efd;
    display: block;
    margin-bottom: 12px;
}

.card.bg-black {
    transition: all 0.3s ease;
}

.card.bg-black:hover {
    transform: translateY(-5px);
    border-color: #0d6efd !important;
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.25);
}