<hr class="my-4">

<h5 class="text-uppercase text-secondary mb-3 fs-4">
    Education
</h5>

<div class="mb-4">

    <h5 class="fw-bold text-light mb-2">
        National Aerospace University
        "Kharkiv Aviation Institute"
    </h5>

    <div class="text-secondary fs-6">
        Specialist Degree in Electronics Engineering
    </div>

    <div class="text-secondary fs-6">
        Faculty of Radio Engineering Systems,
        Biomedical Devices and Systems
    </div>

    <div class="text-info fw-semibold fs-6 mt-1">
        2004 – 2009
    </div>

</div>

<div>

    <h5 class="fw-bold text-light mb-2">
        Kharkiv National Automobile and Highway University (KhNADU)
    </h5>

    <div class="text-secondary fs-6">
        Mechanical Engineering
    </div>

    <div class="text-info fw-semibold fs-6 mt-1">
        2023 – Present
    </div>

</div>