{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "My Portfolio" %}</title>
</head>




{% if profile %}

    {% if profile.photo %}
        <img src="{{ profile.photo.url }}"
             alt="{{ profile.full_name }}"
             class="img-fluid rounded shadow mb-4"
             style="width: 180px;">
    {% endif %}

    <h3>{{ profile.full_name }}</h3>

    <p class="text-primary fs-5">
        {{ profile.title }}
    </p>

    <hr>

    <p>📍 {{ profile.location }}</p>
    <p>📞 {{ profile.phone }}</p>
    <p>✉ {{ profile.email }}</p>

    <div class="mt-4">

        {% if profile.linkedin_url %}
            <a href="{{ profile.linkedin_url }}"
               class="btn btn-outline-primary w-100 mb-2">
                LinkedIn
            </a>
        {% endif %}

        {% if profile.github_url %}
            <a href="{{ profile.github_url }}"
               class="btn btn-outline-light w-100">
                GitHub
            </a>
        {% endif %}

    </div>

{% else %}

    <img src="{% static 'images/profile-photo.jpg' %}"
         alt="Vladimir Kunaiev"
         class="img-fluid rounded shadow mb-4"
         style="width: 180px;">


    <h3>Vladimir Kunaiev</h3>

    <p class="text-primary fs-5">
        Python Developer 
    </p>

    <hr>

    <p>📍 Kharkiv, Ukraine</p>
    <p>📞 +380987536645, +380997879726</p>
    <p>✉ kunaeivv@ukr.net</p>

    <div class="mt-4">

        <a href="https://www.linkedin.com/in/volodymyr-kunaiev-a32618129/"
           class="btn btn-outline-primary w-100 mb-2">
            LinkedIn
        </a>

        <a href="https://github.com/Kunaiev-Vladimir"
           class="btn btn-outline-light w-100">
            GitHub
        </a>

    </div>

{% endif %}